*{ /*Універсальний селектор (*) виділяє всі елементи HTML на сторінці.*/
    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin:0; padding:0;
    box-sizing: border-box; /*Властивість дозволяє нам включати відступи та рамки в загальну ширину та висоту елемента.box-sizing*/
    text-decoration:none;
    transition: all .2s ease;
    color:#004d13;
    
}
html{
    overflow-wrap: normal; /* значення за замовчуванням*/
    overflow-x:auto; /* з'являється гор. смуга прокр за потреби*/
    scroll-behavior: smooth;
}

body{
    display:flex;
    flex-direction: column;    
    padding-left:13rem;
}
h1{
    font-family: Georgia, serif;
    font-size:1.8rem;
}
h2{
    font-family: Georgia, serif;
    font-size:1.5rem;
}
h3{
    font-family: Georgia, serif;
    font-size:1.1rem;
    margin:3rem 2rem 1rem;
}
p{
    font-size:1.1rem;
    margin:3rem 2rem 1rem;
}

#header {
    /* display:flex;  */
    display:block;
    width:100%;
    flex-wrap:wrap;
    align-self:center;
    text-align: center;
    background-color: #b3ffcc;
    color:#004d13;

    h1, h2, h3 {
        font-size:1.1rem;
        background-color: #b3ffcc;
        margin:0.5rem;
    }
    .navbar{
        background-color: #b3ffcc;
        a{
            display:inline-block;
            width:12rem;
            padding:0.2rem;
            margin:0.3rem;
            border-radius:6px;
            background-color:  #b3ffb3;
            color:#004d13;
            border:solid;
            cursor:pointer;

            &:hover{ 
                font-weight: 600;
            }
        }
    }
}

.labs_items{
    display:flexbox;
    width:13rem;
    height:100%;
    position: fixed;
    top: 0; left:0;
    background-color: #e6ffee;

    .logo{
        background-color: #e6ffee;
        font-size: 1.3rem;

        text-align:center;
        text-transform: capitalize;
        i{
            padding: 1rem 3rem;
            font-size:2rem;
            background-color: #e6ffee;
        }

        p{
            margin:1rem;
            margin-bottom: 3rem;
            background-color: #e6ffee;
            text-transform: lowercase;
        }
    }

    button{
        display:block;
        width:11rem; height:2.5rem;
        margin:0.8rem;
        border-radius:6px;
        background-color:  #b3ffb3;
        cursor:pointer;
        text-decoration:none;

        &:hover{
            transform:scale(1.1) translateX(5px);
        } 
        
    }
    .big_button{
        height:4rem;
    }
    /* #oneMoreButtonL1_1, #oneMoreButtonL1_2, #oneMoreButtonL1_3 
    #oneMoreButtonL2_1, #oneMoreButtonL2_2, #oneMoreButtonL2_3 
    #oneMoreButtonL3_1, #oneMoreButtonL3_2, #oneMoreButtonL3_3, #oneMoreButtonL3_4,
    #oneMoreButtonL3_5, #oneMoreButtonL3_6, #oneMoreButtonL3_7, 
    #oneMoreButtonL4_1, #oneMoreButtonL4_2, #oneMoreButtonL4_3, #oneMoreButtonL4_4
    {
        text-decoration: underline;
        border:none;
        background-color:#e6ffee;
    } */
    
}

#content{
    display:block;
    border: 1px solid #004d13;
    padding:2rem;
    color:black;

}

img{
        width:60%;
    }

#button1, #button2, #button3, 
#button4, #button5, #button6, 
#button7, #button8 {
    display: none;
    
}



.links{
    text-decoration: underline;
}

.img_container{
    display:flex;
    
    .img_code{
        width: 28%;
        margin:0.5rem;
    }
    .img_page{
        width: 65%;
        margin:0.5rem;
    }

    .img_code_mob{
        width: auto;
        height:40rem;
        margin:0.5rem;
    }
    .img_page_mob{
        width: auto;
        height:40rem;
        margin:0.5rem;

    }
}





